body {
  background-color: black;
  padding: 5px;
}

table {
  width: 100%;
  border-collapse: collapse;
  box-shadow: 0 1px 3px rgb(42, 41, 41);
  background: rgb(206, 47, 19);
}

th,td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid rgb(254, 254, 254);
}
th {
    background-color: rgb(110, 121, 41);
    color: rgb(14, 227, 39);
  }
tr:nth-child(even) {
    background-color: rgb(244, 228, 228);
  }

tr:hover {
  cursor: pointer;
}